ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

h1{
  font-weight: bold;
  display: flex;
  justify-content: center;
}

h2{
  font-weight: bold;
  display: flex;
  justify-content: center;
}

p{
  display: flex;
  justify-content: center;
  color: red;
}

ol{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#id-selector-demo{
  color: green;
}

li[value='4']{
  color: blue;
}
